#list {
	width: 1000px;
}
.title {
	width: 300px;
}
tr {
	height:50px;
}
td {
	text-align: center;
	border: solid  black;
}
table {
	border-collapse: collapse;
}
.year {
	width: 100px;
}
.category {
	font-size: 30px;
	font-weight: bold;
	background-color: lightgrey;
	color: red;
}
a {
	text-decoration: none;
	color: black;
}
.thumb {
	height: 46px;
	margin-top: 4px;
}